.createRepoForm {
  padding-top: 3rem;
  width: 100%;
  max-width: 850px;
  height: 100%;
  display: flex;
  flex-direction: column;
  margin-inline: auto;
  gap: 1rem;
  color: var(--gh-text);
  padding-bottom: 1rem;
  background-color: var(--gh-bg);
}

.createRepoForm label,
.createRepoForm p,
.createRepoForm i,
.createRepoForm span {
  font-size: 14px;
}

.createRepoForm span {
  margin-top: -1px;
}

.createRepoForm label,
.createRepoForm p {
  font-weight: 500;
}

.createRepoForm textarea,
.createRepoForm input {
  margin-top: 0.5rem;
  font-size: 13px;
  background-color: var(--gh-input);
  border: 1px solid var(--gh-border);
  border-radius: 6px;
  padding: 0.5rem;
  color: var(--gh-text);
}

.createRepoForm .firstInput {
  width: 100%;
}

.line {
  border: none;
  height: 1px;
  background: var(--gh-border);
}

.visibilityLabel {
  font-size: 17px !important;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.visibilityLabel input[type="radio"] {
  appearance: none;
  -webkit-appearance: none;
  margin-top: 0;
  width: 8px !important;
  height: 8px !important;
  border: 1px solid var(--gh-border);
  border-radius: 10px;
  cursor: pointer;
  position: relative;
}

.visibilityLabel input[type="radio"]:checked {
  background-color: var(--gh-green);
  border-color: var(--gh-green);
}

.submit-btn {
  background-color: var(--gh-green);
  border: 1px solid rgba(240, 246, 252, 0.1);
  width: 250px;
  border-radius: 6px;
  height: 35px;
  color: var(--gh-text);
  font-weight: 600;
  padding: 0 1rem;
}

@media (max-width: 980px) {
  .createRepoForm {
    padding-inline: 1rem;
  }
}

@media (max-width: 400px) {
  .submit-btn {
    width: 100%;
  }
}