.login-wrapper {
  color: var(--gh-text);
  height: 100vh;
  width: 100vw;
  background-color: var(--gh-bg);
}

.login-logo-container {
  padding: 40px 0px 20px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo-login {
  width: 48px;
}

.login-box-wrapper {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

.login-box {
  padding: 48px 0px;
  width: 364px;
  min-height: 300px;
  border-radius: 8px;
  border: 1px solid var(--gh-border);
  background-color: var(--gh-panel);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 30px;
}

.input {
  width: 250px;
  height: 32px;
  background-color: var(--gh-input);
  border-radius: 6px;
  padding: 0 1rem;
  border: 1px solid var(--gh-border);
  font-size: 0.77rem;
  color: var(--gh-text);
  transition:
    border-color 0.3s cubic-bezier(0.25, 0.01, 0.25, 1) 0s,
    color 0.3s cubic-bezier(0.25, 0.01, 0.25, 1) 0s,
    background 0.2s cubic-bezier(0.25, 0.01, 0.25, 1) 0s;
}

.label {
  display: block;
  margin-bottom: 0.3rem;
  font-size: 0.75rem;
  font-weight: bold;
  color: var(--gh-text);
  transition: color 0.3s cubic-bezier(0.25, 0.01, 0.25, 1) 0s;
}

.input:hover,
.input:focus {
  border-color: var(--gh-link);
}

.submit-btn {
  background-color: var(--gh-green);
  border: 1px solid rgba(240, 246, 252, 0.1);
  width: 250px;
  border-radius: 6px;
  height: 35px;
  color: var(--gh-text);
  font-weight: 600;
  padding: 0 1rem;
}

.submit-btn:hover {
  background-color: var(--gh-green-hover);
  cursor: pointer;
}

.passkey-signin {
  border: 1px solid var(--gh-border);
  width: 360px;
  border-radius: 8px;
  height: 90px;
  margin: 10px auto;
}

.passkey-signin {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-direction: column;
}

.passkey,
.signup {
  color: var(--gh-link);
  cursor: pointer;
}

.login-btn {
  width: 250px;
  font-size: 13px;
  font-weight: 600;
  margin-top: 10px;
}

.login-heading-text {
  font-size: 20px;
  font-weight: 600;
}

.pass-box {
  width: 364px;
  height: auto;
  border-radius: 8px;
  padding: 17px 10px;
  border: 1px solid var(--gh-border);
  font-size: 12px;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.signup-button {
  width: 250px;
}

@media screen and (max-width: 400px) {
  .login-box {
    width: 280px;
    padding-inline: 3rem;
  }
  .login-box div input {
    width: 100%;
  }
  .input {
    width: 150px;
  }
  .login-btn {
    width: 183px;
  }
  .pass-box {
    width: 280px;
  }
}